extends layout
block content

    != css('main')
    != css('card')

    div(class="navbar outer", style="max-height:6.2em;")
        div(class="navbar-inner")
            div(class="container")
                a(class="brand", href="#") uRater - Universal Rater 

    div(class="navbar outer", id="powerBar")
        div(class="navbar-inner", style="max-height:1em;")
            ul(class="nav-collapse in collapse nav powerBtn")
                li
                    button(class="btn")
                        i(class="icon-heart")
                li
                    button(class="btn")
                        i(class="icon-play")
            div(class="inner")
                div(class="controls")
                    div(class="input-append")
                        form(id="searchForm")
                            input(type="search", 
                                  class="span5",
                                  placeholder="Search",
                                  name="search",
                                  id="searchbar")
                            span(class="add-on")
                                i(class="icon-search")
            ul(class="nav-collapse in collapse nav pull-right powerBtn")
                li
                    button(id="addEntityBtn", class="btn")
                        i(class="icon-plus")
                li
                    button(id="downloadBtn", class="btn")
                        i(class="icon-download")

    div(class="navbar outer", style="min-height:6.2em;")
        div(id='mainCanvas')
            div(class='break1 .hidden-phone')
            div(id='col1', class='span4')
            div(id='col2', class='span4')
            div(id='col3', class='span4')

    script(src="/script/template.js")
    script(src="/script/model.js")
    script(src="/script/main.js")

    | <script>
    |   tmp = new App.Col1View();
    |   tmp = new App.Col2View();
    |   tmp = new App.Col3View();
    | </script>

